Source: ekg2
Section: net
Priority: optional
Maintainer: Marcin Owsiany <porridge@debian.org>
Build-Depends: debhelper (>= 7.0.50~), dh-autoreconf, quilt (>= 0.46-7~),
 autoconf, automake1.11, libtool, gettext,
# UI
 libncursesw5-dev, libgpmg1-dev, libaspell-dev, libgtk2.0-dev,
# scripting
 python, python-dev, python-central (>= 0.5), libperl-dev,
# Protocols
 libgadu-dev, libexpat1-dev,
# Encryption
 libssl-dev, libgnutls-dev, libgpgme11-dev,
# Other
 zlib1g-dev, libsqlite3-dev,
# Documentation
 xsltproc, docbook-xsl, doxygen
Build-Conflicts: autoconf2.13, automake1.4
Standards-Version: 3.9.1
XS-Python-Version: current
Homepage: http://ekg2.org/
Vcs-Git: git://github.com/porridge/ekg2.git
Vcs-Browser: https://github.com/porridge/ekg2

Package: ekg2-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ekg2
Suggests: sms-pl
Description: instant messenger and IRC client for UNIX systems - main program
 EKG2 is an open source instant messenger program for UNIX systems. The program
 has a plugin-based structure, and supports multiple protocols, currently
 Jabber, ICQ, Gadu-Gadu, IRC, RivChat, PolChat, NNTP and RSS.
 .
 This package contains the main program those plugins which do not have
 large dependencies. It does NOT contain the text or graphical user interface
 plugins.

Package: ekg2
Architecture: any
Depends: ekg2-core (= ${binary:Version}), ekg2-ui-ncurses (= ${binary:Version}), ekg2-jabber (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: ekg2-dbg
Suggests: ekg2-gnupg, ekg2-scripting-python, ekg2-scripting-perl, ekg2-ui-gtk
Description: instant messenger and IRC client for UNIX systems
 EKG2 is an open source instant messenger program for UNIX systems. The program
 has a plugin-based structure, and supports multiple protocols, currently
 Jabber, ICQ, Gadu-Gadu, IRC, RivChat, PolChat, NNTP and RSS.
 .
 The program has many useful features. Here is a list - unless specified they
 are included in the ekg2-core package.
   - irssi-like ncurses interface, with mouse support [ekg2-ui-ncurses]
   - experimental GTK+ interface [ekg2-ui-gtk]
   - spell checking [ekg2-ui-ncurses]
   - jogger.pl blog update support
   - a simple CAPTCHA (autoresponder)
   - Python and Perl scripting [ekg2-scripting-python, ekg2-scripting-perl]
   - launching shell commands on certain events
   - encryption support (SIM, GnuPG) [ekg2-core, ekg2-gnupg]
   - logging to SQLite, plain text or XML files
   - sending SMs (using an external program such as sms-pl)
   - mail checking
 .
 This is a meta-package which depends on a set of commonly used EKG2 packages.

Package: ekg2-api-docs
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: instant messenger and IRC client for UNIX systems - API documentation
 EKG2 is an open source instant messenger program for UNIX systems. The program
 has a plugin-based structure, and supports multiple protocols, currently
 Jabber, ICQ, Gadu-Gadu, IRC, RivChat, PolChat, NNTP and RSS.
 .
 This package contains the API documentation, useful for developers who want to
 create or improve plugins.

Package: ekg2-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ekg2-core (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: instant messenger and IRC client for UNIX systems - debugging symbols
 EKG2 is an open source instant messenger program for UNIX systems. The program
 has a plugin-based structure, and supports multiple protocols, currently
 Jabber, ICQ, Gadu-Gadu, IRC, RivChat, PolChat, NNTP and RSS.
 .
 This package contains the debugging symbols for executable code.

Package: ekg2-gnupg
Architecture: any
Depends: ekg2-core (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: instant messenger and IRC client for UNIX systems - GnuPG
 EKG2 is an open source instant messenger program for UNIX systems. The program
 has a plugin-based structure, and supports multiple protocols, currently
 Jabber, ICQ, Gadu-Gadu, IRC, RivChat, PolChat, NNTP and RSS.
 .
 This package contains the plugin which uses GnuPG to provide encrypted
 communication.

Package: ekg2-jabber
Architecture: any
Depends: ekg2-core (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: instant messenger and IRC client for UNIX systems - Jabber/XMPP
 EKG2 is an open source instant messenger program for UNIX systems. The program
 has a plugin-based structure, and supports multiple protocols, currently
 Jabber, ICQ, Gadu-Gadu, IRC, RivChat, PolChat, NNTP and RSS.
 .
 This package contains the plugin which lets you communicate on the Jabber or
 XMPP IM networks.

Package: ekg2-scripting-python
Architecture: any
Depends: ekg2-core (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: instant messenger and IRC client for UNIX systems - Python scripting
 EKG2 is an open source instant messenger program for UNIX systems. The program
 has a plugin-based structure, and supports multiple protocols, currently
 Jabber, ICQ, Gadu-Gadu, IRC, RivChat, PolChat, NNTP and RSS.
 .
 This package contains the plugin which embeds a Python interpreter inside
 EKG2.

Package: ekg2-scripting-perl
Architecture: any
Depends: ekg2-core (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Description: instant messenger and IRC client for UNIX systems - Perl scripting
 EKG2 is an open source instant messenger program for UNIX systems. The program
 has a plugin-based structure, and supports multiple protocols, currently
 Jabber, ICQ, Gadu-Gadu, IRC, RivChat, PolChat, NNTP and RSS.
 .
 This package contains the plugin which embeds a Perl interpreter inside
 EKG2.

Package: ekg2-ui-gtk
Architecture: any
Depends: ekg2-core (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: instant messenger and IRC client for UNIX systems - GTK+ interface
 EKG2 is an open source instant messenger program for UNIX systems. The program
 has a plugin-based structure, and supports multiple protocols, currently
 Jabber, ICQ, Gadu-Gadu, IRC, RivChat, PolChat, NNTP and RSS.
 .
 This package contains the graphical GTK+ user interface plugin.

Package: ekg2-ui-ncurses
Architecture: any
Depends: ekg2-core (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: aspell-dictionary
Description: instant messenger and IRC client for UNIX systems - ncurses interface
 EKG2 is an open source instant messenger program for UNIX systems. The program
 has a plugin-based structure, and supports multiple protocols, currently
 Jabber, ICQ, Gadu-Gadu, IRC, RivChat, PolChat, NNTP and RSS.
 .
 This package contains the text-based ncurses user interface plugin.
