#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
# Adapted for ekg2 package by Marcin Owsiany.
# GNU copyright 2002-2006

#export DH_VERBOSE=1

# Help cross-compiling
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# This is to ease debugging, until ekg2 stabilizes
DEB_BUILD_OPTIONS=nostrip noopt
export DEB_BUILD_OPTIONS

CFLAGS += -g
ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -O0
else
  CFLAGS += -O2
endif
export CFLAGS

# dh_strip will take care of nostrip

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
   NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
   MAKEFLAGS += -j$(NUMJOBS)
endif

include /usr/share/quilt/quilt.make
-include /usr/share/topgit/tg2quilt.mk
QUILT_STAMPFN = debian/stamp-patched

config.status: $(QUILT_STAMPFN) configure
	dh_testdir
# Remember to update README.Debian as well...
	EKG2_NO_COLOR_CONFIGURE=1 ./configure \
		--host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/usr \
		--sysconfdir=/etc \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--libexecdir=\$${prefix}/lib/ekg2 \
		--with-ioctld \
		--with-libgadu \
		--with-pthread \
		--with-openssl \
		--with-libgnutls \
		--with-expat \
		--with-ncurses \
		--with-gtk \
		--without-libgsm \
		--with-perl \
		--with-python \
		--with-libxosd \
		--with-sqlite3 \
		--without-logsoracle \
		--with-aspell \
		--without-libjpeg \
		--without-libungif \
		--without-libgif \
		--with-gpm-mouse \
		--with-gpg \
		--with-zlib \
		--without-readline \
		--enable-remote \
		--enable-unicode \
		--enable-skip-relative-plugins-dir
# Reasons for disabling some features are in README.Debian
# Remember to update README.Debian as well...


build: build-stamp
build-stamp:  config.status
	@echo 'Building with MAKEFLAGS=$(MAKEFLAGS) and CFLAGS=$(CFLAGS)'
	dh_testdir
	$(MAKE) PERL_MM_OPT=INSTALLDIRS=vendor
	cd docs/ && XSLTRANSFORMER='xsltproc --nonet' sh generate-ekg2book.sh pl generate
	cd docs/ && XSLTRANSFORMER='xsltproc --nonet' sh generate-ekg2book.sh en generate
	cd docs/ && ./generate-doc.sh
	touch build-stamp

clean: clean-patched unpatch

clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	set -e; if [ -e ./docs/generate-ekg2book.sh ] ; then \
	  cd docs ; \
	  sh generate-ekg2book.sh pl clean; \
	  sh generate-ekg2book.sh en clean; \
	fi
	rm -rf docs/doxygen
	if [ -e Makefile ] ; then $(MAKE) distclean ; fi
	rm -f docs/ekg2.1
	-test -r /usr/share/misc/config.sub && \
	  cp -f /usr/share/misc/config.sub config.sub
	-test -r /usr/share/misc/config.guess && \
	  cp -f /usr/share/misc/config.guess config.guess
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	perl_install_args="DESTDIR=$(CURDIR)/debian/tmp INSTALLDIRS=vendor" $(MAKE) install prefix=$(CURDIR)/debian/tmp/usr
# Apparently INSTALLDIRS=vendor is not enough in some cases. Remove packfiles manually.
	find debian/tmp -type f -name .packlist | xargs -r rm -f
#	install -m 0644 contrib/ruby/*.rb $(CURDIR)/debian/tmp/usr/share/ekg2/scripts/

binary-indep: build install
# We have nothing to do.

binary-arch: build install
	dh_testdir
	dh_testroot
	# Fail the build as a precaution if our private copy of autoclean.sh
	# differs from the (at this time certainly) patched upstream version.
	set -e; if [ -e debian/autoclean.sh ] ; then diff -u autoclean.sh debian/autoclean.sh ; fi
	dh_install --sourcedir=debian/tmp --list-missing
	dh_installdocs
	cp -a docs/ekg2book/book    $(CURDIR)/debian/ekg2/usr/share/doc/ekg2/book-pl
	cp -a docs/ekg2book-en/book $(CURDIR)/debian/ekg2/usr/share/doc/ekg2/book-en
	cp -a docs/doxygen          $(CURDIR)/debian/ekg2/usr/share/doc/ekg2/
	dh_installmenu
	dh_installdirs
	cp docs/ekg2.en.1 docs/ekg2.1
	cp docs/ekg2-remote.en.1 docs/ekg2-remote.1
	dh_installman docs/ekg2.pl.1 docs/ekg2.1 docs/ekg2-remote.pl.1 docs/ekg2-remote.1
	rm -f docs/ekg2.1 docs/ekg2-remote.1
	dh_installchangelogs # ChangeLog
	dh_link
	dh_perl
	dh_pycentral
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps # -X debian/ekg/usr/bin/ekglogs -L libgadu3 -l debian/libgadu3/usr/lib
# A hack to downgrade ekglogs dependancies to recommedations
# This is a leftover from ekg 1 package, but may be useful for tuning plugins' deps
#	dpkg-shlibdeps -Tdebian/ekg.substvars.tmp -dRecommends debian/ekg/usr/bin/ekglogs
#	cat debian/ekg.substvars.tmp >> debian/ekg.substvars
#	rm -f debian/ekg.substvars.tmp
# Endhack :-)
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
